.contactPicture{
    height: 1200px;
    width: 50vw;
}
.mainText{
    width: calc(50vw - 128px);
}
.tittle{
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1px;
    margin-top: 64px;
    margin-bottom: 16px;
}
.text{
    font-size: 128px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -4px;
    margin-bottom: 300px;
}
.name, .email, .message{
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0;
    height: 76px;
    width: 100%;
    padding-left: 30px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    border: none;
    word-wrap: break-word;
}
.message{
    height: 200px;
}
.send{
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0;
    color: #ffffff;
    text-align: center;
    height: 76px;
    width: 100%;
    background-color: #000000;
    border-radius: 500px;
}



/* レスポンシブ対応 */
@media screen and (max-width: 480px) {
	main{
        display: block;
    }
    .picture{
        width: 100%;
    }
    .contactText{
        width: calc(100vw - 40px);
    }
}